.container {
  padding: 2.0rem;
  /* background-color: rgb(255, 255, 0, 0.1); */
  background-color: rgba(0, 115, 255, 0.05)
}

.page-header {
  border-radius: 5px;
  background-image: url('/assets/banner.png');
  height: 275px;
  padding-top: 20px;
  margin-bottom: 1.0rem;
}

.action, .tip {
  margin-bottom: 1.5rem;
}

.action > .card {
  height: 100%;
}

.action > .card > .card-body,
.tip > .card > .card-body  {
  background-color: rgb(240, 243, 245);
  padding: 1.5rem;
}

